.text-input {
    border: 1px solid #cacccd;
    height: 48px;
    font-weight: 300;
    padding: $s-size;
}

.select {
    @extend .text-input;
    border-radius: 3px;
    padding: 0px;
    background: $white;
}
.textarea {
    @extend .select;
    height: 10rem;
}

