.list-header {
    border: 1px solid darken($color: $light-grey, $amount: 7%);
    color: $dark-grey;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.list-body {
    margin-bottom: $m-size;

    @media (min-width : $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.list-item {
    border: 1px solid darken($color: $light-grey, $amount: 7%);
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $light-grey;
    }
    @media (min-width : $desktop-breakpoint) {
        flex-direction: row;
        justify-content: space-between;
        padding: 16px;
    }
}

.list-item__message {
    align-content: center;
    color: $grey;
    justify-content: center;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item__title{
    color: $dark-grey;
    margin: 0;
}

.list-item__subtitle{
    color: $grey;
    font-size: $font-size-small;
}


.list-item__data{
    margin: $s-size 0 0 0;
    @media (min-width : $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}


.list-item__avatar{
    align-items: flex-start;
}

.list-item__border {
    
    border-radius: 8px;
    color: $dark-grey;
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-left: 60px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $light-grey;
    }
    @media (min-width : $desktop-breakpoint) {
        flex-direction: row;
        justify-content: flex-start;
        padding: 16px;
        padding-left: 60px;
    }
  }

  .list-item__border__small {
    
    border-radius: 8px;
    color: $dark-grey;
    display: flex;
    flex-direction: row;
    padding: 1px;
    padding-left: 80px;
    margin-bottom: 3px;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $light-grey;
    }
    @media (min-width : $desktop-breakpoint) {
        flex-direction: row;
        justify-content: flex-start;
        padding: 3px;
        padding-left: 80px;
    }
  }



  
.list-item__event {
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $light-grey;
    }
    @media (min-width : $desktop-breakpoint) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.list-item__border__event {
    border: 1px solid darken($color: $light-grey, $amount: 7%);
    border-radius: 8px;
    color: $dark-grey;
    display: flex;
    flex-direction: row;
    padding: 1px;
    margin-bottom: 3px;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $light-grey;
    }
    @media (min-width : $desktop-breakpoint) {
        flex-direction: row;
        justify-content: flex-start;
        padding: 3px;
    }
  }
  .list-item__border__label {
    border: 1px solid #aaa;
    border-radius: 8px;
    color: $dark-grey;
    display: flex;
    flex-direction: row;
    padding: 1px;
    margin-bottom: 3px;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $light-grey;
    }
    @media (min-width : $desktop-breakpoint) {
        flex-direction: row;
        justify-content: flex-start;
        padding: 3px;
    }
  }

  .list-item__border__qanda {
    color: $dark-grey;
    display: flex;
    flex-direction: row;
    padding: 1px;
    margin-bottom: 3px;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $light-grey;
    }
    @media (min-width : $desktop-breakpoint) {
        flex-direction: row;
        justify-content: flex-start;
        padding: 3px;
    }
  }